.App {
  text-align: center;
}

.PokemonList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__message {
    flex: 1;
    text-align: center;
  }
}

.Pokeball {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(red 48%, black 49%, white 50%);
  border-radius: 50%;
  border: 2px solid black;

  &__center {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    transition: all 200ms ease-in-out;

    &:hover {
      background-image: radial-gradient(#ff8282 30%, white 50%);
    }
  }

  &--loading {
    transition: transform 500ms linear;
    transform: rotate(360deg);
  }
}
